{% extends 'base.html' %}

{% block content %}
<h1>Employee: {{ employee.user.first_name }} {{ employee.user.last_name }}</h1>
<p>Account: {{ employee.user.username }}</p>
<p>Department: {{ employee.department.name }}</p>
<p>Job: {{ employee.job_title }}</p>
<p>Hire date: {{ employee.hire_date }}</p>
<a href="{% url 'employee_update' employee.pk %}">Edit</a>
<a href="{% url 'employee_delete' employee.pk %}">Delete</a>
<a href="{% url 'employee_list' %}">Back to Employees</a>
{% endblock %}
