{% extends 'base.html' %}

{% block content %}
<div class="department-container">
  <h1>Employees</h1>
  <div class="create-link">
      <a href="{% url 'employee_create' %}">Create New Employee</a>
  </div>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Account</th>
              <th>Department</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
              <td>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
              <td>{{ employee.user.username }}</td>
              <td>{{ employee.department.name }}</td>
              <td class="action-buttons">
                  <a class="back-btn" href="{% url 'employee_detail' employee.pk %}">View</a>
                  <a class="edit-btn" href="{% url 'employee_update' employee.pk %}">Edit</a>
                  <a class="delete-btn" href="{% url 'employee_delete' employee.pk %}">Delete</a>
              </td>
          </tr>
          {% empty %}
              <tr>
                  <td colspan="4">No employee found.</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
