{% extends 'base.html' %}

{% block content %}
<div class="department-container">
    <h1>Users</h1>
    <div class="create-link">
        <a href="{% url 'user_create' %}">Create New User</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="action-buttons">
                    <a class="back-btn" href="{% url 'user_detail' user.pk %}">View</a>
                    <a class="edit-btn" href="{% url 'user_update' user.pk %}">Edit</a>
                    <a class="delete-btn" href="{% url 'user_delete' user.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No user found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
